Source: galculator
Section: math
Priority: optional
XSBC-Original-Maintainer: Sebastien Bacher <seb128@debian.org>
Maintainer: Ubuntu MOTU Developers <ubuntu-motu@lists.ubuntu.com>
Build-Depends: cdbs, debhelper (>= 4.0), libgtk2.0-dev (>= 2.0.0), libglade2-dev, libxml-parser-perl, libhildon-1-dev [lpia], libosso-dev [lpia]
Standards-Version: 3.6.1.0

Package: galculator
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libhildon-1-0 [lpia]
Description: A GTK+ 2.0 based calculator
 .
 galculator is a scientific calculator. It supports different number 
 bases (DEC/HEX/OCT/BIN) and angles bases (DEG/RAD/GRAD) and features 
 a wide range of mathematical (basic arithmetic operations, trigonometric 
 functions, etc) and other useful functions (memory, etc) at the moment. 
 galculator can be used in algebraic mode as well as in Reverse Polish Notation.
 .
  Author:   Simon Floery <simon.floery@gmx.at>
  Homepage: http://galculator.sourceforge.net/
